<!-- Loading Skeleton -->
<div *ngIf="isLoadingEssay" class="bg-[#E2DAD6] p-6 md:p-8 lg:p-10">
  <!-- Questions Section -->
  <section class="rounded-xl animate-pulse">
    <div class="h-8 bg-gray-300 rounded-full mb-4 border-b-4 border-blue-200"></div>
    <div class="space-y-6">
      <div class="bg-gray-200 p-6 md:p-8 rounded-xl shadow-lg border border-gray-300">
        <div class="h-6 bg-gray-300 rounded mb-4"></div>
        <div class="h-4 bg-gray-300 rounded mb-4"></div>
        <div class="h-4 bg-gray-300 rounded mb-4"></div>
      </div>
    </div>
  </section>

  <!-- Answers Section -->
  <section class="rounded-xl mt-8 animate-pulse">
    <div class="h-8 bg-gray-300 rounded-full mb-4 border-b-4 border-green-200"></div>
    <div class="space-y-6">
      <div class="bg-gray-200 p-6 md:p-8 rounded-xl shadow-lg border border-gray-300">
        <div class="h-6 bg-gray-300 rounded mb-4"></div>
        <div class="h-4 bg-gray-300 rounded mb-4"></div>
        <div class="h-4 bg-gray-300 rounded mb-4"></div>
        <div class="h-4 bg-gray-300 rounded mb-4"></div>
        <div class="h-4 bg-gray-300 rounded mb-4"></div>
        <div class="h-4 bg-gray-300 rounded mb-4"></div>
        <!-- Buttons Section -->
        <div class="flex flex-wrap gap-4 justify-center mt-4">
          <div class="w-20 h-10 bg-gray-300 rounded-full"></div>
          <div class="w-24 h-10 bg-gray-300 rounded-full"></div>
          <div class="w-28 h-10 bg-gray-300 rounded-full"></div>
          <div class="w-32 h-10 bg-gray-300 rounded-full"></div>
          <div class="w-36 h-12 bg-gray-300 rounded-full"></div>
          <div class="w-40 h-12 bg-gray-300 rounded-full"></div>
          <div class="w-44 h-12 bg-gray-300 rounded-full"></div>
        </div>
      </div>
    </div>
  </section>

  <!-- Statistic Section -->
  <div class="bg-gray-200 rounded-xl mt-8 p-8 animate-pulse">
    <div class="h-full w-full bg-gray-300 rounded"></div>
  </div>
</div>

<div *ngIf="!isLoadingEssay" class="bg-[#E2DAD6] p-6 md:p-8 lg:p-10">
  <!-- Questions Section -->
  <section class="rounded-xl">
    <h2 class="text-2xl md:text-3xl font-semibold border-b-4 border-blue-600 pb-4">IELTS Writing Questions</h2>
    <div class="space-y-6">
      <div class="bg-gray-50 p-6 md:p-8 rounded-xl shadow-lg border border-gray-300">
        <h3 class="text-xl md:text-2xl font-bold text-blue-800">Question</h3>
        <p class="mt-2 md:mt-4 text-base md:text-lg text-gray-700">{{essay?.question}}</p>
      </div>
    </div>
  </section>

  <!-- Answers Section -->
  <section class="rounded-xl mt-8">
    <h2 class="text-2xl md:text-3xl font-semibold border-b-4 border-green-600 pb-4">IELTS Writing Answers</h2>
    <div class="space-y-6">
      <div class="bg-gray-50 p-6 md:p-8 rounded-xl shadow-lg border border-gray-300">
        <h3 class="text-xl md:text-2xl font-bold text-green-800">Answer</h3>
        <div>
          <p class="mt-2 md:mt-4 text-base md:text-lg text-gray-700">{{essay?.paragraphOne}}</p>
          <p class="mt-2 md:mt-4 text-base md:text-lg text-gray-700">{{essay?.paragraphTwo}}</p>
          <p class="mt-2 md:mt-4 text-base md:text-lg text-gray-700">{{essay?.paragraphThree}}</p>
          <p class="mt-2 md:mt-4 text-base md:text-lg text-gray-700">{{essay?.paragraphFour}}</p>
        </div>
        <!-- Buttons Section -->
        <div *ngIf="showScoreButtons" class="flex flex-wrap gap-4 justify-center">
          <button (click)="sendCcore('score55')"
            class="bg-blue-500 text-white py-2 px-4 text-base font-medium rounded-lg shadow-sm hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75">5.5</button>
          <!-- Button 6.0 -->
          <button (click)="sendCcore('score60')"
            class="bg-blue-500 text-white py-2.5 px-5 text-base font-medium rounded-lg shadow-sm hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75">6.0</button>
          <!-- Button 6.5 -->
          <button (click)="sendCcore('score65')"
            class="bg-blue-500 text-white py-3 px-6 text-base font-medium rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75">6.5</button>
          <!-- Button 7.0 -->
          <button (click)="sendCcore('score70')"
            class="bg-blue-500 text-white py-3.5 px-7 text-base font-medium rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75">7.0</button>
          <!-- Button 7.5 -->
          <button (click)="sendCcore('score7.5')"
            class="bg-blue-500 text-white py-4 px-8 text-lg font-medium rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75">7.5</button>
          <!-- Button 8.0 -->
          <button (click)="sendCcore('score80')"
            class="bg-blue-500 text-white py-4.5 px-9 text-lg font-medium rounded-lg shadow-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75">8.0</button>
          <!-- Button 8.5 -->
          <button (click)="sendCcore('score85')"
            class="bg-blue-500 text-white py-5 px-10 text-lg font-medium rounded-lg shadow-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75">8.5</button>
        </div>
        <!-- Loading spinner -->
        <div *ngIf="showLoader" class="flex justify-center">
          <div role="status">
            <svg aria-hidden="true" class="w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600"
              viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                fill="currentColor" />
              <path
                d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                fill="currentFill" />
            </svg>
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <!-- Next -->
        <div *ngIf="showNext" (click)="nextEssay()" class="flex justify-center">
          <button class="bg-blue-500 text-white font-semibold py-2 px-4 text-sm rounded-md hover:bg-blue-600 transition duration-300
          sm:py-2.5 sm:px-5 sm:text-base sm:rounded-lg
          md:py-3 md:px-6 md:text-lg md:rounded-xl">
            Next
          </button>
        </div>
      </div>
    </div>
  </section>

  <!-- Statistic Section -->
  <canvas [ngClass]="{'hidden': !showCanvas, 'block': showCanvas}" class="bg-white rounded-xl mt-8 p-8"
    id="mychart"></canvas>
</div>